
.home{
    display: flex;
    justify-content: center;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    background: #EAEDED;
}

.home__container{
    height: auto;
    width: 100%;
}

.home__image{
    width: 100%;
    object-fit: contain;
    /* z-index: -1; 
     margin-bottom: -200px; */
}

.home__row{
    position: relative;
    display: flex;
    justify-content: space-around;
    top: -380px;
}
